<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tareas</title>
</head>
<body>
    <h1>Lista de tareas</h1>

    <section>
        <form action="/" method="POST">
            <input type="text" name="tarea" placeholder="Escribe una tarea">

            <br>

            <button type="submit">Agregar</button>
        </form>
    </section>

    <section>
        <ul>
            {% for tarea in tareas %}
                <li>
                    {% if tarea.completada %}
                        <s>{{ tarea.titulo }}</s>
                    {% else %}
                        {{ tarea.titulo }}
                    {% endif %}

                    <form action="{{ url_for('tareas.completar', id_tarea=tarea.id) }}" method="POST" style="display: inline;">
                        <button type="submit">
                            {% if tarea.completada %}
                                desmarcar
                            {% else %}
                                Completar
                            {% endif %}
                    </form>
                    
                    <form action="{{ url_for('tareas.eliminar', id_tarea=tarea.id) }}" method="POST" style="display: inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>